body {
  margin-inline: auto;
}

/* to center everything */
.container {
  max-width: 600px;
  margin: auto;
}
/* img are inline so we make it block */
header img {
  width: 150px;
  display: block;
  margin: auto;
}

header p {
  color: #266462;
  background-color: #fcf8e5;
  text-align: center;
  border-top: 1px solid #ffd877;
  padding: 10px;
  font-size: 14px;
}
/* main part */
h1 {
  text-align: center;
  margin-top: 40px;
}

.focaccia img {
  border-radius: 2%;
  width: 100%;
  box-shadow: 5px 5px 5px #e3e6e9;
}

.focaccia p {
  text-align: center;
  color: grey;
}

.feat-in h5 {
  margin: 0;
  color: #db5d1e;
}

.feat-in a {
  color: #107777;
}

.feat-in {
  padding-left: 20px;
  border-left: 1px solid #ffd877;
}

h3 {
  border-bottom: 1px solid #c4f3f2;
  padding: 10px;
  padding-left: 0px;
  font-size: 20px;
}

.ingr-area {
  line-height: 180%;
}

.method-area p {
  padding-left: 40px;
}
